# Composer vendor dir
/vendor/

# Composer 
composer.lock

# PHPMailer 
EmailService.php.bak

# Ignore env files
.env
.env.local


# Ignore IDE specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace 

# Ignore all files in the public/uploads directory
public/uploads/*
/uploads/
# Ignore all files in the public/uploads directory
public/uploads/*
